<div class="container">
  <%= link_to :new_post, method: :get do %>
    <div class="btn btn-secondary">New Post</div>
  <% end %>

  <%= link_to :destroy_user_session, method: :delete do %>
      <div class="btn btn-secondary">Log out</div>
  <% end %>

  <%= link_to '/users', method: :get do %>
      <div class="btn btn-secondary">View all users</div>
  <% end %>
</div>
<div class="container row">
<div class="col-lg-6">
  <% @all_posts.each do |p| %>
  <div class="post rounded-sm bg-white">
      <div class="image">
        <img class="img img-fluid" src="f87.jpg" alt="">
      </div>
      <div class="row post-date ml-0 mr-0">
        <div class="col-7">
          <%= link_to edit_post_path(p.id), method: :get do %>
            edit
          <% end %>

          <%= link_to post_path(p.id), method: :delete do %>
            delete
          <% end %>
        </div>
        <div class="col-5 text-right">
          <% if p.created_at != nil %>
            <%= distance_of_time_in_words_to_now(p.created_at) %> ago
          <% end %>
        </div>
      </div>
      <div class="container-fluid"><%= p.caption %></div>
  </div>
  <% end %>
</div>

<div class="col-lg-6">
  <%= render "profile/show" %>
</div>
</div>