<div class="container">
  <div>Following</div>
  <div class="list-group">
    <% @followings.each do |f| %>
      <li class="list-group-item">
          <%= f.email %>
          <%= link_to unfollow_path(f.id), method: :delete do %>
            <div>Unfollow</div>
          <% end %>
      </li>
    <% end %>
  </div>
  <div>Followers</div>
  <div class="list-group">
    <% @followers.each do |f| %>
      <li class="list-group-item">
          <%= f.email %>
      </li>
    <% end %>
  </div>
  <br>
  <div>All users</div>
  <% @all_users.each do |user| %>
    <div>
      <%= user.email %>
      <%= link_to follow_path(user.id), method: :post do %>
        <div>Follow</div>
      <% end %>
    </div>
  <% end %>
</div>