<div class="container">
  <%= render "profile/show" %>

  <%= link_to follows_path(), method: :get do %>
    <div><%= @following_count %> following</div>
    <div><%= @follower_count %> followers</div>
  <% end %>
  <br>
  <div class="row">
  <div class="col-6">
  
    <% @all_posts.each do |p| %>
    <div class="card post rounded-sm bg-white">
          <img class="card-img-top" src="f87.jpg" alt="">
        <div class="card-body row ml-0 mr-0">
          <div class="col-7">
            <%= link_to edit_post_path(p.id), method: :get do %>
              edit
            <% end %>

            <%= link_to post_path(p.id), method: :delete do %>
              delete
            <% end %>
          </div>
          <div class="col-5 text-right">
            <% if p.created_at != nil %>
              <%= distance_of_time_in_words_to_now(p.created_at) %> ago
            <% end %>
          </div>
        </div>
        <div class="container-fluid"><%= p.caption %></div>
    </div>
    <% end %>
  </div>
  </div>
</div>