<div class="container">
  <%= render "profile/show_big" %>
  <br>
  <div class="row">
  <div class="col-6">
  
    <% @all_posts.each do |p| %>
      <div class="card post rounded-sm bg-white">
          <img class="card-img-top" src="/insta-logo.png" alt="">
          <div class="card-body border-bottom">
            <div class="card-text">
              <span id="like-<%= p.id %>">
                <%= render 'likes/like_button.html.erb', post_id: p.id %>
              </span>
              <span>
                <% if self_profile(params[:id]) %>  
                  <%= link_to edit_post_path(p.id), method: :get do %>
                    edit
                  <% end %>
                  <%= link_to post_path(p.id), method: :delete do %>
                    delete
                  <% end %>
                <% end %>
              </span>
            </div>
            <div class="card-text">
              <span class="font-weight-bold"><%= p.user.profile.handle %></span> <%= p.caption %>
            </div>
            <div class="card-text" id="comment-<%= p.id %>">
              <% p.comments.each do |c| %>
                <div>
                  <span class="font-weight-bold"><%= current_user.profile.handle %></span> <%= c.text %>
                </div>
              <% end %>
            </div>
            <h6 class="mb-2 text-muted">
              <% if p.created_at != nil %>
                <%= distance_of_time_in_words_to_now(p.created_at) %> ago
              <% end %>
              </h6>
          </div>
          <%= form_for :comment, url: comments_path(), remote: true, html: { class: 'input-group' } do |f| %>
            <%= f.text_field :text, placeholder: 'Add a comment...', class: 'form-control border-0' %>
            <%= hidden_field_tag :post_id, p.id %>
            <%= f.submit 'Post', class: 'btn' %>
          <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>