<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.4.1.min.js'%>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <%= link_to :home do %>
      <div class="navbar-brand">InstagramClone</div>
    <% end %>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ducmtran/instagram-clone-rails">Github</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <body class="bg-light">
    <div class="row">
      <div class="col-lg-2 col-1"></div>
      <div class="col-lg-8 col-10">
        <%= yield %>
      </div>
      <div class="col-lg-2 col-1"></div>
    </div>
  </body>
</html>
